<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>101220101</key>
<string>Hefei</string>
<key>101220201</key>
<string>Bengbu</string>
<key>101220301</key>
<string>Wuhu</string>
<key>101220401</key>
<string>Huainan</string>
<key>101220501</key>
<string>Ma On Shan</string>
<key>101220601</key>
<string>Anqing</string>
<key>101220701</key>
<string>Suzhou</string>
<key>101220801</key>
<string>Fuyang</string>
<key>101220901</key>
<string>Bozhou</string>
<key>101221001</key>
<string>Huangshan</string>
<key>101221101</key>
<string>Chuzhou</string>
<key>101221201</key>
<string>Huaibei</string>
<key>101221301</key>
<string>Tongling</string>
<key>101221401</key>
<string>Xuancheng</string>
<key>101221501</key>
<string>Luan</string>
<key>101221601</key>
<string>Chaohu</string>
<key>101221701</key>
<string>Chizhou</string>
<key>101230101</key>
<string>Fuzhou</string>
<key>101230201</key>
<string>Xiamen</string>
<key>101230301</key>
<string>Ningde</string>
<key>101230401</key>
<string>Putian</string>
<key>101230501</key>
<string>Quanzhou</string>
<key>101230601</key>
<string>Zhangzhou</string>
<key>101230701</key>
<string>Longyan</string>
<key>101230801</key>
<string>Sanming</string>
<key>101230901</key>
<string>Nanping</string>
<key>101160101</key>
<string>Maryland</string>
<key>101160201</key>
<string>Dingxi</string>
<key>101160301</key>
<string>Pingliang</string>
<key>101160401</key>
<string>Qingyang</string>
<key>101160501</key>
<string>Wuwei</string>
<key>101160601</key>
<string>Jinchang</string>
<key>101160701</key>
<string>Zhangye</string>
<key>101160801</key>
<string>Jiuquan</string>
<key>101160901</key>
<string>Tianshui</string>
<key>101161001</key>
<string>Wudu</string>
<key>101161101</key>
<string>Linxia</string>
<key>101161201</key>
<string>cooperation</string>
<key>101161301</key>
<string>silver</string>
<key>101280101</key>
<string>Guangzhou</string>
<key>101280201</key>
<string>Shaoguan</string>
<key>101280301</key>
<string>Huizhou</string>
<key>101280401</key>
<string>Meizhou</string>
<key>101280501</key>
<string>Shantou</string>
<key>101280601</key>
<string>Shenzhen</string>
<key>101280701</key>
<string>Zhuhai</string>
<key>101280800</key>
<string>Foshan</string>
<key>101280901</key>
<string>Zhaoqing</string>
<key>101281001</key>
<string>Zhanjiang</string>
<key>101281101</key>
<string>Jiangmen</string>
<key>101281201</key>
<string>Heyuan</string>
<key>101281301</key>
<string>Qingyuan</string>
<key>101281401</key>
<string>Yunfu</string>
<key>101281501</key>
<string>Chaozhou</string>
<key>101281601</key>
<string>Dongguan</string>
<key>101281701</key>
<string>Zhongshan</string>
<key>101281801</key>
<string>Yangjiang</string>
<key>101281901</key>
<string>Jieyang</string>
<key>101282001</key>
<string>Maoming</string>
<key>101282101</key>
<string>Shanwei</string>
<key>101282105</key>
<string>Pratas</string>
<key>101300101</key>
<string>Nanning</string>
<key>101300201</key>
<string>Chongzuo</string>
<key>101300301</key>
<string>Liuzhou</string>
<key>101300401</key>
<string>guests</string>
<key>101300501</key>
<string>Guilin</string>
<key>101300601</key>
<string>Wuzhou</string>
<key>101300701</key>
<string>Hezhou</string>
<key>101300801</key>
<string>Guigang</string>
<key>101300901</key>
<string>Yulin</string>
<key>101301001</key>
<string>Bose</string>
<key>101301101</key>
<string>Qinzhou</string>
<key>101301201</key>
<string>Hechi</string>
<key>101301301</key>
<string>North Sea</string>
<key>101301401</key>
<string>Fangchenggang</string>
<key>101260101</key>
<string>Guiyang</string>
<key>101260201</key>
<string>Zunyi</string>
<key>101260301</key>
<string>Anshun</string>
<key>101260401</key>
<string>Duyun</string>
<key>101260501</key>
<string>Carey</string>
<key>101260601</key>
<string>Tongren</string>
<key>101260701</key>
<string>Bijie</string>
<key>101260801</key>
<string>Liupanshui</string>
<key>101260901</key>
<string>Qianxi</string>
<key>101310101</key>
<string>Haikou</string>
<key>101310102</key>
<string>Qiongshan</string>
<key>101310201</key>
<string>Sanya</string>
<key>101310202</key>
<string>Oriental</string>
<key>101310203</key>
<string>lingao</string>
<key>101310204</key>
<string>Chenmai</string>
<key>101310205</key>
<string>Danzhou</string>
<key>101310206</key>
<string>Changjiang</string>
<key>101310207</key>
<string>Pak</string>
<key>101310208</key>
<string>Qiongzhong</string>
<key>101310209</key>
<string>Ting</string>
<key>101310210</key>
<string>Tunchang</string>
<key>101310211</key>
<string>Qionghai</string>
<key>101310212</key>
<string>Wenchang</string>
<key>101310213</key>
<string>clear blue</string>
<key>101310214</key>
<string>Baoting</string>
<key>101310215</key>
<string>Mannings</string>
<key>101310216</key>
<string>Lingshui</string>
<key>101310217</key>
<string>Xisha</string>
<key>101310218</key>
<string>Coral Island</string>
<key>101310219</key>
<string>Yong Department reef</string>
<key>101310220</key>
<string>Nansha Islands</string>
<key>101310221</key>
<string>Ledong</string>
<key>101310222</key>
<string>Tongza</string>
<key>101090101</key>
<string>Shijiazhuang</string>
<key>101090201</key>
<string>Baoding</string>
<key>101090301</key>
<string>Zhangjiakou</string>
<key>101090401</key>
<string>Chengde City</string>
<key>101090501</key>
<string>Tangshan</string>
<key>101090601</key>
<string>Langfang</string>
<key>101090701</key>
<string>Cangzhou</string>
<key>101090801</key>
<string>Hengshui</string>
<key>101090901</key>
<string>Xingtai</string>
<key>101091001</key>
<string>Handan</string>
<key>101091101</key>
<string>Qinhuangdao</string>
<key>101050101</key>
<string>Harbin</string>
<key>101050201</key>
<string>Qiqihar</string>
<key>101050301</key>
<string>Mudanjiang</string>
<key>101050401</key>
<string>Jiamusi</string>
<key>101050501</key>
<string>Suihua</string>
<key>101050601</key>
<string>Heihe</string>
<key>101050701</key>
<string>Daxinganling</string>
<key>101050801</key>
<string>Yichun</string>
<key>101050901</key>
<string>Daqing</string>
<key>101051002</key>
<string>Qitaihe</string>
<key>101051101</key>
<string>Jixi</string>
<key>101051201</key>
<string>Hegang</string>
<key>101051301</key>
<string>Shuangyashan</string>
<key>101180101</key>
<string>Zhengzhou</string>
<key>101180201</key>
<string>Anyang</string>
<key>101180301</key>
<string>Xinxiang</string>
<key>101180401</key>
<string>Xuchang</string>
<key>101180501</key>
<string>Pingdingshan</string>
<key>101180601</key>
<string>Xinyang</string>
<key>101180701</key>
<string>Nanyang</string>
<key>101180801</key>
<string>Kaifeng</string>
<key>101180901</key>
<string>Luoyang</string>
<key>101181001</key>
<string>Shangqiu</string>
<key>101181101</key>
<string>Jiaozuo</string>
<key>101181201</key>
<string>Hebi</string>
<key>101181301</key>
<string>Puyang</string>
<key>101181401</key>
<string>Zhoukou</string>
<key>101181501</key>
<string>Luohe</string>
<key>101181601</key>
<string>Zhumadian</string>
<key>101181701</key>
<string>Sanmenxia</string>
<key>101181801</key>
<string>Jiyuan</string>
<key>101200101</key>
<string>Wuhan</string>
<key>101200201</key>
<string>Xiangfan</string>
<key>101200301</key>
<string>Ezhou</string>
<key>101200401</key>
<string>Xiaogan</string>
<key>101200501</key>
<string>Huanggang</string>
<key>101200601</key>
<string>Yellowstone</string>
<key>101200701</key>
<string>Xianning</string>
<key>101200801</key>
<string>Jingzhou</string>
<key>101200901</key>
<string>Yichang</string>
<key>101201001</key>
<string>Enshi</string>
<key>101201101</key>
<string>Shiyan</string>
<key>101201201</key>
<string>Shennongjia</string>
<key>101201301</key>
<string>Suizhou</string>
<key>101201401</key>
<string>Jingmen</string>
<key>101201501</key>
<string>Tianmen</string>
<key>101201601</key>
<string>Xiantao</string>
<key>101201701</key>
<string>Qianjiang</string>
<key>101250101</key>
<string>Changsha</string>
<key>101250201</key>
<string>Xiangtan</string>
<key>101250301</key>
<string>Zhuzhou</string>
<key>101250401</key>
<string>Hengyang</string>
<key>101250501</key>
<string>Chenzhou</string>
<key>101250601</key>
<string>Changde</string>
<key>101250701</key>
<string>Yiyang</string>
<key>101250801</key>
<string>Loudi</string>
<key>101250901</key>
<string>Shaoyang</string>
<key>101251001</key>
<string>Yueyang</string>
<key>101251101</key>
<string>Zhangjiajie</string>
<key>101251201</key>
<string>Huaihua</string>
<key>101251301</key>
<string>qianyang</string>
<key>101251401</key>
<string>Yongzhou</string>
<key>101251501</key>
<string>Jishou</string>
<key>101190101</key>
<string>Nanjing</string>
<key>101190201</key>
<string>Wuxi</string>
<key>101190301</key>
<string>Zhenjiang</string>
<key>101190401</key>
<string>Suzhou</string>
<key>101190501</key>
<string>Nantong</string>
<key>101190601</key>
<string>Yangzhou</string>
<key>101190701</key>
<string>Yancheng</string>
<key>101190801</key>
<string>Xuzhou</string>
<key>101190901</key>
<string>Huai'an</string>
<key>101191001</key>
<string>Lianyungang</string>
<key>101191101</key>
<string>Changzhou</string>
<key>101191201</key>
<string>Taizhou</string>
<key>101191301</key>
<string>Suqian</string>
<key>101240101</key>
<string>Nanchang</string>
<key>101240201</key>
<string>Jiujiang</string>
<key>101240301</key>
<string>Shangrao</string>
<key>101240401</key>
<string>Fuzhou</string>
<key>101240501</key>
<string>Yichun</string>
<key>101240601</key>
<string>Gian</string>
<key>101240701</key>
<string>Ganzhou</string>
<key>101240801</key>
<string>Jingdezhen</string>
<key>101240901</key>
<string>Pingxiang</string>
<key>101241001</key>
<string>Xinyu</string>
<key>101241101</key>
<string>Yingtan</string>
<key>101060101</key>
<string>Changchun</string>
<key>101060201</key>
<string>Jilin</string>
<key>101060301</key>
<string>Yanji</string>
<key>101060401</key>
<string>Siping</string>
<key>101060501</key>
<string>Tonghua</string>
<key>101060601</key>
<string>Baicheng</string>
<key>101060701</key>
<string>Liaoyuan</string>
<key>101060801</key>
<string>Matsubara</string>
<key>101060901</key>
<string>Hakusan</string>
<key>101070101</key>
<string>Shenyang</string>
<key>101070201</key>
<string>Dalian</string>
<key>101070301</key>
<string>Anshan</string>
<key>101070401</key>
<string>Fushun</string>
<key>101070501</key>
<string>Benxi</string>
<key>101070601</key>
<string>Dandong</string>
<key>101070701</key>
<string>Jinzhou</string>
<key>101070801</key>
<string>Yingkou</string>
<key>101070901</key>
<string>Fuxin</string>
<key>101071001</key>
<string>Liaoyang</string>
<key>101071101</key>
<string>Tieling</string>
<key>101071201</key>
<string>sunrise</string>
<key>101071301</key>
<string>Panjin</string>
<key>101071401</key>
<string>Huludao</string>
<key>101080101</key>
<string>Hohhot</string>
<key>101080201</key>
<string>header</string>
<key>101080301</key>
<string>Wuhai</string>
<key>101080401</key>
<string>Jining</string>
<key>101080501</key>
<string>Tongliao</string>
<key>101080601</key>
<string>Chifeng</string>
<key>101080701</key>
<string>Erdos</string>
<key>101080801</key>
<string>Kanawha</string>
<key>101080901</key>
<string>Xilinhot</string>
<key>101081000</key>
<string>Hulunbeier</string>
<key>101081101</key>
<string>Ulan</string>
<key>101081201</key>
<string>Alashanzuoqi</string>
<key>101170101</key>
<string>Yinchuan</string>
<key>101170201</key>
<string>Shizuishan</string>
<key>101170301</key>
<string>Wuzhong</string>
<key>101170401</key>
<string>Guyuan</string>
<key>101170501</key>
<string>defender</string>
<key>101150101</key>
<string>Xining</string>
<key>101150201</key>
<string>Haidong</string>
<key>101150301</key>
<string>huangnan</string>
<key>101150401</key>
<string>Hainan</string>
<key>101150501</key>
<string>Golog</string>
<key>101150601</key>
<string>Yushu</string>
<key>101150701</key>
<string>Haixi</string>
<key>101150801</key>
<string>rambling</string>
<key>101120101</key>
<string>Jinan</string>
<key>101120201</key>
<string>Qingdao</string>
<key>101120301</key>
<string>Zibo</string>
<key>101120401</key>
<string>Texas</string>
<key>101120501</key>
<string>Yantai</string>
<key>101120601</key>
<string>Weifang</string>
<key>101120701</key>
<string>Jining</string>
<key>101120801</key>
<string>Taian</string>
<key>101120901</key>
<string>Linyi</string>
<key>101121001</key>
<string>Heze</string>
<key>101121101</key>
<string>Binzhou</string>
<key>101121201</key>
<string>Dongying</string>
<key>101121301</key>
<string>Weihai</string>
<key>101121401</key>
<string>Zaozhuang</string>
<key>101121501</key>
<string>sunshine</string>
<key>101121601</key>
<string>Laiwu</string>
<key>101121701</key>
<string>Liaocheng</string>
<key>101110101</key>
<string>Xi'an</string>
<key>101110200</key>
<string>Xianyang</string>
<key>101110300</key>
<string>Yan'an</string>
<key>101110401</key>
<string>Yulin</string>
<key>101110501</key>
<string>Weinan</string>
<key>101110601</key>
<string>Shangluo</string>
<key>101110701</key>
<string>Ankang</string>
<key>101110801</key>
<string>Hanzhong</string>
<key>101110901</key>
<string>Baoji</string>
<key>101111001</key>
<string>Tongchuan</string>
<key>101100101</key>
<string>Taiyuan</string>
<key>101100201</key>
<string>Datong</string>
<key>101100301</key>
<string>Yangquan</string>
<key>101100401</key>
<string>Jinzhong</string>
<key>101100501</key>
<string>Changzhi</string>
<key>101100601</key>
<string>Jincheng</string>
<key>101100701</key>
<string>Linfen</string>
<key>101100801</key>
<string>Yuncheng</string>
<key>101100901</key>
<string>Shuozhou</string>
<key>101101001</key>
<string>Xinzhou</string>
<key>101101100</key>
<string>Luliang</string>
<key>101270101</key>
<string>Chengdu</string>
<key>101270201</key>
<string>Panzhihua</string>
<key>101270301</key>
<string>Zigong</string>
<key>101270401</key>
<string>Mianyang</string>
<key>101270501</key>
<string>Nanchong</string>
<key>101270601</key>
<string>Florida</string>
<key>101270701</key>
<string>Suining</string>
<key>101270801</key>
<string>Guang'an</string>
<key>101270901</key>
<string>Pakistan</string>
<key>101271001</key>
<string>Luzhou</string>
<key>101271101</key>
<string>Yibin</string>
<key>101271201</key>
<string>Neijiang</string>
<key>101271301</key>
<string>Ziyang</string>
<key>101271401</key>
<string>Leshan</string>
<key>101271501</key>
<string>Meishan</string>
<key>101271601</key>
<string>Liangshan</string>
<key>101271701</key>
<string>Ya'an</string>
<key>101271801</key>
<string>Ganzi</string>
<key>101271901</key>
<string>Aba</string>
<key>101272001</key>
<string>Deyang</string>
<key>101272101</key>
<string>Guangyuan</string>
<key>101320101</key>
<string>Hong Kong</string>
<key>101330101</key>
<string>Macau</string>
<key>101130101</key>
<string>Urumqi</string>
<key>1011301601</key>
<string>Bole</string>
<key>101130201</key>
<string>Karamay</string>
<key>101130301</key>
<string>Shihezi</string>
<key>101130401</key>
<string>Changji</string>
<key>101130501</key>
<string>Turpan</string>
<key>101130601</key>
<string>Korla</string>
<key>101130701</key>
<string>Alar</string>
<key>101130801</key>
<string>Akzo</string>
<key>101130901</key>
<string>Kashi</string>
<key>101131001</key>
<string>Yining</string>
<key>101131101</key>
<string>Tacheng</string>
<key>101131201</key>
<string>Hami</string>
<key>101131301</key>
<string>Wada</string>
<key>101131401</key>
<string>Altay</string>
<key>101131501</key>
<string>atushi</string>
<key>101140101</key>
<string>Lhasa</string>
<key>101140201</key>
<string>Shigatse</string>
<key>101140301</key>
<string>Shannan</string>
<key>101140401</key>
<string>Nyingchi</string>
<key>101140501</key>
<string>Chamdo</string>
<key>101140601</key>
<string>Nagqu</string>
<key>101140701</key>
<string>Ali</string>
<key>101290101</key>
<string>Kunming</string>
<key>101290201</key>
<string>Dali</string>
<key>101290301</key>
<string>Red</string>
<key>101290401</key>
<string>Qujing</string>
<key>101290501</key>
<string>Baoshan</string>
<key>101290601</key>
<string>Wenshan</string>
<key>101290701</key>
<string>Yuxi</string>
<key>101290801</key>
<string>Chuxiong</string>
<key>101290901</key>
<string>Pu'er</string>
<key>101291001</key>
<string>Zhaotong</string>
<key>101291101</key>
<string>Lincang</string>
<key>101291201</key>
<string>Nu</string>
<key>101291301</key>
<string>Zhongdian</string>
<key>101291401</key>
<string>Lijiang</string>
<key>101291501</key>
<string>Devon</string>
<key>101291601</key>
<string>Jinghong</string>
<key>101210101</key>
<string>Hangzhou</string>
<key>101210201</key>
<string>Huzhou</string>
<key>101210301</key>
<string>Jiaxing</string>
<key>101210401</key>
<string>Ningbo</string>
<key>101210501</key>
<string>Shaoxing</string>
<key>101210601</key>
<string>Taizhou</string>
<key>101210701</key>
<string>Wenzhou</string>
<key>101210801</key>
<string>Lishui</string>
<key>101210901</key>
<string>Jinhua</string>
<key>101211001</key>
<string>Quzhou</string>
<key>101211101</key>
<string>Zhoushan</string>
<key>101010100</key>
<string>Beijing</string>
<key>101020100</key>
<string>Shanghai</string>
<key>101030100</key>
<string>Tianjin</string>
<key>101040100</key>
<string>Chongqing</string>
</dict>
</plist>