<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>home_webSite_baidu</string>
		<key>link</key>
		<string>http://m.baidu.com</string>
		<key>name</key>
		<string>百度</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>home_webSite_weibo</string>
		<key>link</key>
		<string>http://m.weibo.cn</string>
		<key>name</key>
		<string>微博</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>home_webSite_jianshu</string>
		<key>link</key>
		<string>http://www.jianshu.com</string>
		<key>name</key>
		<string>简书</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>home_webSite_jd</string>
		<key>link</key>
		<string>http://m.jd.com</string>
		<key>name</key>
		<string>京东</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>home_webSite_amazon</string>
		<key>link</key>
		<string>http://www.amazon.cn</string>
		<key>name</key>
		<string>亚马逊</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>home_webSite_tmall</string>
		<key>link</key>
		<string>http://www.tmall.com</string>
		<key>name</key>
		<string>天猫</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>home_webSite_toutiao</string>
		<key>link</key>
		<string>http://m.toutiao.com</string>
		<key>name</key>
		<string>头条</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>home_webSite_ctrip</string>
		<key>link</key>
		<string>http://m.ctrip.com</string>
		<key>name</key>
		<string>携程</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>home_webSite_youku</string>
		<key>link</key>
		<string>http://www.youku.com</string>
		<key>name</key>
		<string>优酷</string>
	</dict>
</array>
</plist>
