<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sIcon</key>
		<string>home_site_icon0</string>
		<key>sTitle</key>
		<string>淘宝</string>
		<key>sLink</key>
		<string>www.taobao.com</string>
	</dict>
	<dict>
		<key>sIcon</key>
		<string>home_site_icon1</string>
		<key>sTitle</key>
		<string>苏宁</string>
		<key>sLink</key>
		<string>www.taobao.com</string>
	</dict>
	<dict>
		<key>sIcon</key>
		<string>home_site_icon2</string>
		<key>sTitle</key>
		<string>58同城</string>
		<key>sLink</key>
		<string>www.taobao.com</string>
	</dict>
	<dict>
		<key>sIcon</key>
		<string>home_site_icon3</string>
		<key>sTitle</key>
		<string>1号店</string>
		<key>sLink</key>
		<string>www.taobao.com</string>
	</dict>
	<dict>
		<key>sIcon</key>
		<string>home_site_icon4</string>
		<key>sTitle</key>
		<string>美团网</string>
		<key>sLink</key>
		<string>www.taobao.com</string>
	</dict>
	<dict>
		<key>sIcon</key>
		<string>home_site_icon5</string>
		<key>sTitle</key>
		<string>赶集网</string>
		<key>sLink</key>
		<string>www.taobao.com</string>
	</dict>
	<dict>
		<key>sIcon</key>
		<string>home_site_icon6</string>
		<key>sTitle</key>
		<string>搜狐</string>
		<key>sLink</key>
		<string>www.taobao.com</string>
	</dict>
	<dict>
		<key>sIcon</key>
		<string>home_site_icon7</string>
		<key>sTitle</key>
		<string>凤凰新闻</string>
		<key>sLink</key>
		<string>www.taobao.com</string>
	</dict>
	<dict>
		<key>sIcon</key>
		<string>home_site_icon8</string>
		<key>sTitle</key>
		<string>网易新闻</string>
		<key>sLink</key>
		<string>www.taobao.com</string>
	</dict>
</array>
</plist>
