<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
<array>
	<dict>
		<key>title</key>
		<string>苏宁易购</string>
		<key>link</key>
		<string>http://m.suning.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>天猫</string>
		<key>link</key>
		<string>http://www.tmall.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>小米</string>
		<key>link</key>
		<string>http://m.mi.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>NBA</string>
		<key>link</key>
		<string>http://nba.uc.cn</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>聚美优品</string>
		<key>link</key>
		<string>http://m.jumei.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>携程</string>
		<key>link</key>
		<string>http://m.ctrip.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>去哪儿</string>
		<key>link</key>
		<string>http://www.qunar.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>前程无忧</string>
		<key>link</key>
		<string>http://m.51job.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>赶集招聘</string>
		<key>link</key>
		<string>http://ganji.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>京东</string>
		<key>link</key>
		<string>http://m.jd.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>腾讯</string>
		<key>link</key>
		<string>http://info.3g.qq.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>新浪</string>
		<key>link</key>
		<string>http://sina.cn</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>网易</string>
		<key>link</key>
		<string>http://3g.163.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>途牛</string>
		<key>link</key>
		<string>http://m.tuniu.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>美团</string>
		<key>link</key>
		<string>http://i.meituan.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>搜狐</string>
		<key>link</key>
		<string>http://m.sohu.com</string>
		<key>icon</key>
		<string></string>
	</dict>
</array>
<array>
	<dict>
		<key>title</key>
		<string>12306</string>
		<key>link</key>
		<string>http://12306.cn</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>彩票</string>
		<key>link</key>
		<string>http://h5.m.taobao.com/cph5/h5/home/index.html</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>机票</string>
		<key>link</key>
		<string>http://m.ctrip.com/webapp/flight/</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>电影</string>
		<key>link</key>
		<string>http://m.maoyan.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>快递</string>
		<key>link</key>
		<string></string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>移动</string>
		<key>link</key>
		<string>http://wap.10086.cn</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>公交</string>
		<key>link</key>
		<string>http://zuoche.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>租车</string>
		<key>link</key>
		<string>http://m.zuche.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>星座运势</string>
		<key>link</key>
		<string>http://ast.sina.cn</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>周公解梦</string>
		<key>link</key>
		<string>http://m.2280.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>万年历</string>
		<key>link</key>
		<string>http://baidu365.duapp.com/uc/Calendar.html</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>驾考题库</string>
		<key>link</key>
		<string>http://m.jxedt.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>常用电话</string>
		<key>link</key>
		<string>http://uc.dianhua.cn</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>搬家</string>
		<key>link</key>
		<string>http://3g.ganji.com/bj_banjia/</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>宠物服务</string>
		<key>link</key>
		<string>http://3g.ganji.com/bj_pet/</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>教育培训</string>
		<key>link</key>
		<string>http://3g.ganji.com/bj_training/</string>
		<key>icon</key>
		<string></string>
	</dict>
</array>
<array>
	<dict>
		<key>title</key>
		<string>电影</string>
		<key>link</key>
		<string>http://movie.youku.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>电视剧</string>
		<key>link</key>
		<string>http://tv.youku.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>综艺</string>
		<key>link</key>
		<string>http://zy.youku.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>动漫</string>
		<key>link</key>
		<string>http://comic.youku.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>搜狐</string>
		<key>link</key>
		<string>http://m.tv.sohu.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>优酷</string>
		<key>link</key>
		<string>http://www.youku.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>爱奇艺</string>
		<key>link</key>
		<string>http://www.m.iqiyi.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>腾讯视频</string>
		<key>link</key>
		<string>http://m.v.qq.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>有妖气</string>
		<key>link</key>
		<string>http://m.u17.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>酷狗</string>
		<key>link</key>
		<string>http://m.kugou.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>酷我</string>
		<key>link</key>
		<string>http://m.kuwo.cn</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>QQ音乐</string>
		<key>link</key>
		<string>http://y.qq.com/</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>音悦台</string>
		<key>link</key>
		<string>http://m.yinyuetai.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>手漫网</string>
		<key>link</key>
		<string>http://m.shouman.cc</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>搜狗</string>
		<key>link</key>
		<string>http://m.kan.sogou.com</string>
		<key>icon</key>
		<string></string>
	</dict>
</array>
<array>
	<dict>
		<key>title</key>
		<string>糗百</string>
		<key>link</key>
		<string>http://m.qiushibaike.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>冷笑话</string>
		<key>link</key>
		<string>http://m.lengxiaohua.cn</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>暴漫</string>
		<key>link</key>
		<string>http://m.baozoumanhua.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>捧腹网</string>
		<key>link</key>
		<string>http://m.pengfu.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>内涵社</string>
		<key>link</key>
		<string>http://neihanshe.cn</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>奇趣百科</string>
		<key>link</key>
		<string>http://qiqu.uc.cn</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>知音漫画</string>
		<key>link</key>
		<string>http://m.seemh.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>蛋花儿</string>
		<key>link</key>
		<string>http://danhuaer.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>我乐个趣</string>
		<key>link</key>
		<string>http://m.w6g7.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>不得姐</string>
		<key>link</key>
		<string>http://m.budejie.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>快乐麻花</string>
		<key>link</key>
		<string>http://m.mahua.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>百度百科</string>
		<key>link</key>
		<string>http://wapbaike.baidu.com</string>
		<key>icon</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>维基百科</string>
		<key>link</key>
		<string>http://zh.wikipedia.org</string>
		<key>icon</key>
		<string></string>
	</dict>
</array>
</array>
</plist>